@import '../node_modules/bulma';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bg: #F8F4F1;
$accent: #005D3E;
$accent2: #FFE999;

.App {
    margin: auto;
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    border: 2px dashed $accent;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $bg;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: solid 1px $accent2;
}

@media only screen and (max-width: 800px) {
    .App {
        width: 90%;
        padding: 5%;
        padding-top: 2%;
    }
}